In [3]:
#3 
choice =''
while choice !=0:
    print ('Choose conversion\n1: F to C or \n2: C to F')
    choice= int(input())
    
    if choice == 1:
        print ('Enter the temperature in Fahrenheit:\n')
        b=int(input())
        print (b,'F= ',(b-32)*5/9, 'C\n')
    elif choice ==2:
        print ('Enter the temperature in Celcius:\n')
        b=int(input())
        print (b,'C= ',(b*9/5)+32,'F\n')
    else:
        print ('the end. user quits')
        break

Choose conversion
1: F to C or
2: C to F
1
Enter the temperature in Fahrenheit:

25
25 F=  -3.888888888888889 C

Choose conversion
1: F to C or
2: C to F
2
Enter the temperature in Celcius:

365
365 C=  689.0 F

Choose conversion
1: F to C or
2: C to F
1
Enter the temperature in Fahrenheit:

254
254 F=  123.33333333333333 C

Choose conversion
1: F to C or
2: C to F
2
Enter the temperature in Celcius:

3657
3657 C=  6614.6 F

Choose conversion
1: F to C or
2: C to F
8
the end. user quits

# 4 Now suppose the Celsius values are actually temperature sensor readings, taken over the
period of one hundred days, stored in a file called “Readings in Celsius” (posted on Moodle).
Write the PYTHON CODE which reads from the file, computes the corresponding temperature in Fahrenheit, and then writes the converted value to an output file called “Readings in
Fahrenheit”.

In [4]:
import pandas as pd
reading_in_c=pd.read_csv('C:/Users/Asus/Documents/NU SALTA/temp_records.csv')
reading_in_c

    33
0   81
1   51
2   14
3   68
4   12
..  ..
94  48
95  46
96  64
97  69
98  10

[99 rows x 1 columns]

In [7]:
df=pd.DataFrame(reading_in_c)
print (df)

    33
0   81
1   51
2   14
3   68
4   12
..  ..
94  48
95  46
96  64
97  69
98  10

[99 rows x 1 columns]

In [15]:
reading_in_f=[]
for i in df['33'] :
    reading_in_f.append((i*9/5)+32)

In [16]:
reading_in_f

[177.8,
 123.8,
 57.2,
 154.4,
 53.6,
 183.2,
 172.4,
 123.8,
 170.6,
 55.4,
 154.4,
 132.8,
 42.8,
 84.2,
 42.8,
 170.6,
 66.2,
 107.6,
 87.8,
 197.6,
 46.4,
 95.0,
 150.8,
 64.4,
 104.0,
 138.2,
 185.0,
 158.0,
 201.2,
 163.4,
 55.4,
 55.4,
 190.4,
 206.6,
 192.2,
 177.8,
 150.8,
 57.2,
 118.4,
 208.4,
 177.8,
 136.4,
 208.4,
 69.8,
 159.8,
 172.4,
 197.6,
 161.6,
 55.4,
 113.0,
 170.6,
 122.0,
 185.0,
 87.8,
 57.2,
 96.8,
 174.2,
 156.2,
 159.8,
 206.6,
 134.6,
 57.2,
 158.0,
 145.4,
 122.0,
 104.0,
 149.0,
 179.6,
 203.0,
 145.4,
 116.6,
 57.2,
 87.8,
 152.6,
 181.4,
 33.8,
 42.8,
 188.6,
 190.4,
 170.6,
 204.8,
 86.0,
 120.2,
 197.6,
 86.0,
 185.0,
 44.6,
 192.2,
 91.4,
 185.0,
 154.4,
 62.6,
 177.8,
 57.2,
 118.4,
 114.8,
 147.2,
 156.2,
 50.0]

In [21]:
reading_in_fahrenheit=pd.DataFrame(reading_in_f)
reading_in_fahrenheit.to_csv('C:/Users/Asus/Documents/NU SALTA/fahr_records.csv', index=False, header=True)